:root {
  --sa-width-bar: 20px;
  --sa-width-conflict: 14px;
  --sa-color-track: transparent;
  --sa-color-view: #f06000;
  --sa-scale-factor: 1;
}

@media (hover: hover) and (pointer: fine) {
  html.scrolling,
  div.scrolling-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  div.scrolling {
    &_bottom {
      padding-bottom: var(--sa-width-conflict);
    }

    &_right {
      padding-right: var(--sa-width-conflict);
    }
  }
}

html.scrolling,
div.scrolling-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}

div.scrolling {
  position: relative;
}

div.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

div.scrolling .scrolling-content {
  display: table;
  min-width: 100%;
}

.scrollbar_root.scrollbar {
  position: fixed;
}

.scrollbar_root.scrollbar_vertical {
  height: 100vh;
}

.scrollbar_root.scrollbar_vertical.scrollbar_scaled {
  height: calc(100vh - var(--sa-width-conflict));
}

.scrollbar_root.scrollbar_horizontal {
  width: 100vw;
}

.scrollbar_root.scrollbar_horizontal.scrollbar_scaled {
  width: calc(100vw - var(--sa-width-conflict));
}

.scrollbar {
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  opacity: .5;
  transition: opacity .2s;
}

.scrollbar_vertical {
  width: var(--sa-width-bar);
  height: 100%;
  right: 0;
  top: 0;
}

.scrollbar_vertical.scrollbar_scaled {
  height: calc(100% - var(--sa-width-conflict));
}

.scrollbar_vertical .scrollbar__thumb {
  width: 100%;
}

.scrollbar_vertical .scrollbar__view {
  left: 11px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  will-change: transform;
  transition: transform .25s;
}

.scrollbar_horizontal {
  width: 100%;
  height: var(--sa-width-bar);
  left: 0;
  bottom: 0;
}

.scrollbar_horizontal.scrollbar_scaled {
  width: calc(100% - var(--sa-width-conflict));
}

.scrollbar_horizontal .scrollbar__thumb {
  height: 100%;
}

.scrollbar_horizontal .scrollbar__view {
  top: 11px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  will-change: transform;
  transition: transform .25s;
}

.scrollbar:hover,
.scrollbar_active {
  opacity: 1;

  &.scrollbar_vertical .scrollbar__view {
    transform: scale(2.5, var(--sa-scale-factor));
  }

  &.scrollbar_horizontal .scrollbar__view {
    transform: scale(var(--sa-scale-factor), 2.5);
  }
}

.scrollbar__track {
  background: var(--sa-color-track);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.scrollbar__thumb {
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
}

.scrollbar__view {
  background: var(--sa-color-view);
  position: absolute;
  transform-origin: 50% 50%;
}